@font-face {
  font-family: "Pixel-font";
  src: url("../assets/pixel-font.woff");
}

:root {
  font-family: Pixel-font;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(../assets/pokemon-background-desktop.png);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  color: rgb(55, 51, 51);
  margin-bottom: 30px;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
  margin: 5px;
}

button:hover,
button:focus,
button:focus-visible {
  border-color: black;
}

/* button:focus,
button:focus-visible {
  outline: 2px auto black;
  outline-offset: 1px;
  border-radius: 8px;
} */
